<h1>This is Comments#index</h1>

<p>The current URL has called comments controller in the context of <%= @commentable_type %>

</p><p>Message comments path for message id 1 is called as message_comments_path(1) and evaluates to <%= message_comments_path(1) %>
</p><p>Photo comments path for photo id 5 is called as photo_comments_path(5) and evaluates to <%= photo_comments_path(5) %>
<p>Remember that in development mode <a href="/rails/info/routes">/rails/info/routes</a> will show defined routes.
</p>